<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./../angular/angular.min.js"></script>
</head>
<body>
    <div ng-app = "app">
        <div ng-controller="myCtrl">
            名:<input type="text" ng-model="firstName"><br>
            姓:<input type="text" ng-model="lastName"><br>
            姓名: {{fullName()}}
        </div>
        <hr>
        <!-- controller 中，如果局部 $scope 和 $rootScope 都存在 -->
        <div ng-controller = "myCtrl1">
            {{englishName}}<br>
            {{$root.englishName}}<br>
            {{chineseName}}<br>
            {{$root.chineseName}}<br>
        </div>
        <hr>
        <div ng-controller = "myCtrl2">
            {{englishName}}<br>
            {{$root.englishName}}<br>
            {{chineseName}}<br>
            {{$root.chineseName}}<br>
        </div>
    </div>
    <script>
        // 在大型的应用程序中，通常是把控制器存储在外部文件中。
        // 只需要把 <script> 标签中的代码复制到名为 personController.js 的外部文件中即可：
        var app = angular.module('app',[])
        app.controller('myCtrl',function($scope){
            $scope.firstName = "John";
            $scope.lastName = "Doe";
            $scope.fullName = function(){
                return $scope.firstName + " " + $scope.lastName;
            }
        })
        // $rootScope 其他控制器也可获得
        app.controller('myCtrl1',function($scope,$rootScope){
            $scope.englishName = "局部的yoona"
            $rootScope.englishName = "全局的YOONA"
        })
        app.controller('myCtrl2',function($scope,$rootScope){
            $scope.chineseName = "局部的允儿"
            $rootScope.chineseName = "全局的允兒"
        })
    </script>
</body>
</html>