<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./../angular/angular.min.js"></script>
</head>
<body>
    <div ng-app = 'app'>
        <div ng-controller = " personCtrl">
            <!-- uppercase 过滤器将字符串格式化为大写： -->
            <p>姓名为 {{ lastName | uppercase }}</p>
            <!-- lowercase 过滤器将字符串格式化为小写： -->
            <p>姓名为 {{ lastName | lowercase  }}</p>
            <!-- currency 过滤器将数字格式化为货币格式： -->
            <input type="number" ng-model="quantity">
            <input type="number" ng-model="price">
            <p>总价 :{{ quantity * price | currency }}</p>
            <!-- orderBy 过滤器根据表达式排列数组 按照字母排序： -->
            <ul>
                <li ng-repeat = "item in names | orderBy:'country'">
                    {{item.name + ',' + item.country}}
                </li>
            </ul>
            <!-- 输入过滤器可以通过一个管道字符（|）和一个过滤器添加到指令中，该过滤器后跟一个冒号和一个模型名称。 -->
            <!-- filter 过滤器从数组中选择一个子集： -->
            <ol>
                <li ng-repeat = "item in names | filter:test | orderBy:'country'">
                    {{ (item.name | uppercase) + ',' + item.country}}
                </li>
            </ol>
            <!-- 自定义过滤器 -->
            <p>{{ uzi | myreverse }}</p>
        </div>
    </div>
    <script>
        var app = angular.module('app',[])
        app.controller('personCtrl',function($scope){
            $scope.lastName = 'yooNa';
            $scope.names = [
                {name:'Kai',country:'Sweden'},
                {name:'Jani',country:'Norway'},
                {name:'Hege',country:'Denmark '}
            ];
            $scope.uzi = 'JianZiHao'
        })
        // 自定义过滤器
        app.filter('myreverse',function(){
            return function(text){
                // 倒序字符串
                return text.split("").reverse().join("");
            }
        })
    </script>
</body>
</html>