<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>v-model</title>
    <script type="text/javascript" src="../assets/js/vue.min.js"></script>
</head>
<body>
    <hr>
    <div id="app">
        <p>{{message}}</p>
        <h3>文本框</h3>
        <p>v-model:<input type="text" v-model="message"></p>    
        <p>v-model.lazy<input type="text" v-model.lazy="message"></p>    
        <p>v-model.number<input type="text" v-model.number="message"></p>    
        <p>v-model.trim<input type="text" v-model.trim="message"></p>    
        <hr>
        <h3>文本域</h3>
        <textarea name="" id="" cols="30" rows="10" v-model="message"></textarea> 
        <hr>
        <h3>多选框</h3>
        <input type="checkbox" id="choose" v-model="isTrue">
        <label for="choose">{{isTrue}}</label>
        <hr>
        <h3>多选框绑定数组</h3>
        <p>
            <input type="checkbox" id="" v-model="names" value="gavin">
            <label for="">gavin</label>
            <input type="checkbox" id="" v-model="names" value="yoona">
            <label for="">yoona</label>
            <input type="checkbox" id="" v-model="names" value="faker">
            <label for="">faker</label>
        </p>
        <p>{{names}}</p>
        <hr>
        <h3>单选框绑定</h3>
        <p>
            <input type="radio" id="" value="男" v-model="sex">
            <label for="">男</label>
            <input type="radio" id="" value="女" v-model="sex">
            <label for="">女</label>
            <p>你选择的性别为：{{sex}}</p>
        </p>
    </div>
    <script type="text/javascript">
    // trim去空格 number必须为数字 lazy失去焦点加载
        var app = new Vue({
            el:'#app',
            data:{
                message:"mine",
                isTrue:true,
                names:[],
                sex:'男'
            }
        })
    </script>
</body>
</html>