*{margin: 0; padding: 0}
html,body{height: 100%;}
html {-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%; -webkit-tap-highlight-color: rgba(0,0,0,0);}
body{font: 14px/1.5 "Segoe UI",  Arial, "Microsoft YaHei"; overflow-x: hidden;color: #393939;}
ul{list-style: none}
.section[role='main']{width: 100%; height: 100%; transition: .5s; overflow: hidden}
.main-box{position: relative;width: 100%;height: 100%;  background: #eff2f4;}
.window-box{width: 100%; height: 100%}
.window-head {position: absolute;display: table;top: 0; left: 0; right: 0; z-index: 99999;  width: 100%;  height: 90px;background: rgba(0,0,0,0);}
.window-head.active {
    height: 70px;
    background: rgba(0,0,0,.5);
}
.window-head ul{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);}
.window-head ul li{
    list-style: none;
    cursor: pointer;
    padding: 20px;
    margin: 0;
    font-size: 20px;
    color: #ccc;
    display: inline-block;
    transition: .3s;
}
.window-head ul li.active {
    color: #00dfb9;
}
.window-head .head-left {position: absolute; left: 2.5%;top: 50%; color: #fff; cursor: pointer;}
.window-cut{width: 100%; height: 100%;}
.window-bin{height: 100%;}
.window-back {width: 100%;height: 100%;padding-top: 70px; background-color:red;position: relative;  background-position: center; background-size: cover;}
.window-back.banner{padding: 0;}
.window-back.icon{background-image: url("../images/box2.jpg")}
/*page1*/

.banner-box {
    width: 100%;
    height: 100%;
    position: relative;
}
.banner-cut{width: 100%;height: 100%;display: flex; position: relative;}
.banner-bin {
    width: 100%;
    height: 100%;
    background: center no-repeat;
    background-size: cover;
    position: relative;
    flex-shrink: 0;
}
.banner-bin.ban1{ background-image: url("../images/p1.jpg")}
.banner-bin.ban2{ background-image: url("../images/p2.jpg")}
.table-box{display: table; width: 100%; height: 100%;}
.table-cell{display: table-cell; vertical-align: middle; text-align: center;}
.banner-bin .table-box {
    padding-bottom: 3%;
}
.banner-write .w2 .w21 {
    color: #fff;
    font-size: 36px;
    display: block;
}
.banner-write .w2 .w22 {
    line-height: .8;
    letter-spacing: -5px;
    font-size: 82px;
    color: #00dfb9;
    display: inline-block;
    border-bottom: 1px solid #00dfb9;
    margin: 5px 0 10px 0;
}
.banner-write .w2 .w23 {
    color: #ccc;
    font-size: 16px;
    display: block;
}
.banner-pager {
    position: absolute;
    height: 3px;
    line-height: 0;
    top: 84%;
    bottom: auto !important;
    left: 0;
    right: 0;
    text-align: center;
}
.banner-pager .swiper-pagination-bullet {
    width: 40px;
    height: 3px;
    position: relative;
    line-height: 3px;
    border-radius: 0;
    background: #fff;
    opacity: 1;
    margin: 0 5px;
    display: inline-block;
}
.banner-pager .swiper-pagination-bullet-active {
    background: #00dfb9;
}

.banner-pager .banner-write{color: #fff;}
.title-box h1 {
    font-size: 50px;
    color: #00dfb9;
    line-height: 35px;
    margin: 0 0 15px 0;
}
.title-box h2 {
    font-size: 25px;
}
.dowebok  .list2 {
    position: relative;
    width: 1180px;
    height: 560px;
    margin: 0 auto;
    list-style-type: none;
}
.dowebok .list2 .item {
    position: absolute;
    width: 380px;
    height: 270px;
}
.dowebok .list2 .item1 {
    left: 0;
    top: 0;
    background-image: url(../images/k1.jpg);
}
.dowebok .list2 .item2 {
    left: 400px;
    top: 0;
    background-image: url(../images/k2.jpg);
}
.dowebok .list2 .item3 {
    left: 0;
    bottom: 0;
    background-image: url(../images/k3.jpg);
}
.dowebok .list2 .item4 {
    left: 400px;
    bottom: 0;
    background-image: url(../images/k4.jpg);
}
.dowebok .list2 .item5 {
    height: 560px;
    right: 0;
    top: 0;
    background-image: url(../images/k5.jpg);
}