*{padding: 0;margin: 0}
#root{
    position: relative;
    margin: 0 auto;
    width: 800px
}
.wrap{
    position: relative;
    padding: 10px 0;
    margin-top: 50px
}
.wrap h3{
    display: inline-block;
    background: linear-gradient(left, #ff3737, #68dc53,#d05fb7);
    background: -webkit-linear-gradient(left, #ff3737, #68dc53,#d05fb7);
    background: -o-linear-gradient(right, #ff3737, #68dc53,#d05fb7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: scratchy 0.253s linear forwards infinite;
    -webkit-animation: scratchy 0.5s linear forwards infinite;
    -moz-animation: scratchy 0.5s linear forwards infinite;
    -ms-animation: scratchy 0.5s linear forwards infinite;
    -o-animation: scratchy 0.5s linear forwards infinite;
}
@keyframes scratchy
{
    0% { background-position: 0 0;}
    25% { background-position: 0 0;}
    26% { background-position: 20px -20px;}
    50% { background-position: 20px -20px;}
    51% { background-position: 40px -40px;}
    75% { background-position: 40px -40px;}
    76% { background-position: 60px -60px;}
    99% { background-position: 60px -60px;}
    100% { background-position: 0 0;}
}
.wrap img{
    max-width: 100%;
    display: block;
    animation: leftIn 1s
}

@keyframes leftIn
{
    from{opacity:0;-webkit-transform:translateX(-30px);transform:translateX(-30px);}
    to{opacity:1;-webkit-transform:translateX(0);transform:translateX(0);}
}