@-webkit-keyframes leftIn{
    from{opacity:0;-webkit-transform:translateX(-30px);transform:translateX(-30px);}
    to{opacity:1;-webkit-transform:translateX(0);transform:translateX(0);}
  }
  @keyframes leftIn{
    from{opacity:0;-webkit-transform:translateX(-30px);transform:translateX(-30px);}
    to{opacity:1;-webkit-transform:translateX(0);transform:translateX(0);}
  }
  @-webkit-keyframes rightIn{
    from{opacity:0;-webkit-transform:translateX(30px);transform:translateX(30px);}
    to{opacity:1;-webkit-transform:translateX(0);transform:translateX(0);}
  }
  @keyframes rightIn{
    from{opacity:0;-webkit-transform:translateX(30px);transform:translateX(30px);}
    to{opacity:1;-webkit-transform:translateX(0);transform:translateX(0);}
  }
.main-live .live-slide-wrapper{background:url(images/live-bg.jpg) no-repeat center top;height:720px;}
.main .live-slide-wrapper ul{list-style:none;margin:0;padding:0;}
.main-live .live-slide-wrapper .live-slide{height:100%;position:relative;}
.main-live .live-slide-wrapper .live-slide .slide-inner li .img_item{opacity:0;-webkit-animation:leftIn 0.8s forwards;animation:leftIn 0.8s forwards;}
.main-live .live-slide-wrapper .live-slide .slide-inner li .img_item{background:#eee;width:671px;height:481px;position:absolute;left:127px;top:26px;}
.main-live .live-slide-wrapper .live-slide .slide-inner li .game_list{width:250px;}

.main-live .live-slide-wrapper .live-slide .slide-inner li .game_list{opacity:0;-webkit-animation:rightIn 0.8s forwards;animation:rightIn 0.8s forwards;position:absolute;top:48px;right:0;width:330px;}
.main-live .live-slide-wrapper .live-slide .slide-inner li .game_list li{display:inline-block;text-align:center;margin:0 0 10px;width:78px;}
.main-live .live-slide-wrapper .live-slide .slide-inner li .game_list li a{color:#fff;}
.main-live .live-slide-wrapper .live-slide .slide-inner li .game_list li a:hover{color:#fae39e;}
.main-live .live-slide-wrapper .live-slide .slide-inner li .game_list li a:hover .gui{border-color:#fae39e;}
.main-live .live-slide-wrapper .live-slide .slide-inner li .game_list li .gui{display:block;margin:0 auto;border:1px solid #fff;border-radius:50%;width:38px;height:38px;text-align:center;line-height:38px;}
.main-live .live-slide-wrapper .live-slide .slide-inner li .api_info{opacity:0;-webkit-animation:leftIn 0.8s 0.3s forwards;animation:leftIn 0.8s 0.3s forwards;position:absolute;top:400px;width:354px;right:0;color:#fff;}
.main-live .live-slide-wrapper .live-slide .slide-inner li .api_info .api_name{line-height:1;}
.main-live .live-slide-wrapper .live-slide .slide-inner li .api_info .api_name span{font-size:54px;float:left;}
.main-live .live-slide-wrapper .live-slide .slide-inner li .api_info .api_name p{float:left;margin-left:10px;font-size:21px;padding-top:10px;}
.main-live .live-slide-wrapper .live-slide .slide-inner li .api_info .api_name p b{font-weight:normal;display:block;font-size:15px;padding-top:5px;}
.main-live .live-slide-wrapper .live-slide .slide-inner li .api_info .api_des{font-size:20px;}
.main-live .live-slide-wrapper .live-slide .slide-inner li .api_info .btn-enter{width:158px;height:39px;margin-top:40px;display:block;text-align:center;line-height:33px;font-size:15px;color:#fff;}
.main-live .live-slide-wrapper .live-slide .slide-inner li .api_info .btn-enter:hover{color:#fae39e;}
.main-live .live-slide-wrapper .live-slide .slide-indicators{height:130px;position:absolute;bottom:28px;width:100%;text-align:center;}
.main-live .live-slide-wrapper .live-slide .slide-indicators li{display:inline-block;width:90px;margin:0 10px;}
.main-live .live-slide-wrapper .live-slide .slide-indicators li .circle{width:90px;height:90px;position:relative;}
.main-live .live-slide-wrapper .live-slide .slide-indicators li .circle:before{content:'';position:absolute;top:0;left:0;bottom:0;right:0;width:78px;height:78px;background:rgba(255,255,255,0.5);margin:auto;border-radius:50%;}
.main-live .live-slide-wrapper .live-slide .slide-indicators li .name{font-size:14px;color:#fff;margin-top:20px;}
