*:before, *:after{box-sizing:border-box}
*{box-sizing: border-box}
body{
    min-width: 1000px;
    position: relative; 
    font-family: "Segoe UI","Lucida Grande","Helvetica","Arial","Microsoft YaHei","FreeSans","Arimo","Droid Sans","Hiragino Sans GB","Hiragino Sans GB W3",sans-serif;
    line-height: 1.5;
    padding: 0;
    margin: 0
}
html{font-size: 10px}
ul{list-style: none;padding: 0;margin: 0}
.container{position: relative;overflow: visible;width: 1000px;margin: 0 auto}
.container:after{clear: both;}
.container:before, .container:after{content: ' ';display: table}
header{width: 100%}
a{text-decoration: none}
/* 1级 */
.navbar{position: relative}
.navbar-default{ 
	margin: 0 auto;
	height: 50px;
	width: 100%;
	border: 1px solid #000;
	border-bottom: 1px solid #000;
	border-top: 2px solid #000;
    background: #000;
}
.navbar-collapse{width: auto;overflow-x:visible;}
.navbar-nav{float: left}
.navbar-default .navbar-nav>li:hover, .navbar-default .navbar-nav>li.active {	background: #ff0000; }
.navbar-default .navbar-nav>li{height:50px;float:left;display:inline-block;text-align:center;position:relative;}
.navbar-default .navbar-nav>li>a{color: #fff; height:50px;display:block;font-size:16px;position: relative;padding: 0 20px;margin: 0;line-height: 50px}

/* 2级 */
.navbar-sub{width: 100%;box-shadow: 0 2px 5px 0 rgba(0,0,0,.5);z-index: 99;position: absolute;}
.navbar-sub>.sub-content{height: 150px;border-bottom: 1px solid #ff0000;overflow: hidden;background:rgba(0, 0, 0, 0.6);display: none}